.header{
    height: 100px;
    background-color: #153d77;
}
body{
    z-index:1;
    margin-left:10%;
    margin-right: 10%;
}
.title{
    display: flex;
}

.icon{
    justify-content: flex-end;
}

.card-title{
    padding:0 1.25rem;
}

.navbar-collapse{ justify-content: flex-end;}

.container{
    max-width: 100%!important;
}

.box{
    top:10%;
    position: absolute;
    width: 100%;
    margin: auto;
}

.backgroud {
    background-color: #153d77;
    height: 200px;
    position: relative;
}

.first{
    padding-top:10px;
    height: max-content;
}

.content{
    height: max-content;
    width: 100%;
    background: #e9ecef!important;
}

.second{
    margin-top:10px;
    padding:0!important;
}

.search-table{
    width: 100px !important;
}

.table{
    overflow-y: scroll
}

thead{
    background: rgb(182, 213, 238);
}

.search{
    background: #e9ecef;
    width: 90px;
}

.form-group{
    width: 100%;
    margin-bottom: 0.6rem;
}

.select-choice{
    width: 70px;
}

.filter-form{
    background:#e9ecef;
}

.item-same-long-second{
    width: 15%;
}

.item-same-longest{
    width: 25%;
}

.item-dis-largest-col1{
    width: calc(100% - 27px - 108px - 74px);;
}

.item-dis-largest-col3{
    width: calc(100%-100px);
}

.name-label{
    width: 17%;
}

.group-padding{
    padding:0.2rem;
}

.dis-full-width{
    width: calc(100% - 4.688rem - 4.094rem - 1.625rem);
}

.divide-col{
    width: 15%;
}

.item-same-smaller{
    width: 13%;
}

.dis-smaller{
    width: calc(50% - 76px - 65px - 29px);;
}

.name-label-smaller{
    width: 15%;
}

.item-same-longest-divide{
    width: calc(50% - 85px);
}